<header class="header">
    <h1 class="header_name">
        Links <br>
        save
    </h1>
    <ul class="header__list">
        <li class="header__item">Links</li>
        <li class="header__item">Create</li>
        <li class="header__item header__login"><a href="/signIn">Sign in</a></li>
    </ul>
    <a class="header__logo" href="/">
        <svg viewBox="0 0 87 84" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M85 42C85 64.0258 66.4865 82 43.5 82C20.5135 82 2 64.0258 2 42C2 19.9742 20.5135 2 43.5 2C66.4865 2 85 19.9742 85 42Z"
                stroke="white" stroke-width="4" />
            <path
                d="M41.3908 49.975L40.6908 54H26.9708L31.1708 30.2H35.3708L31.8708 49.975H41.3908ZM50.3801 50.465C51.9667 50.465 53.1217 50.1617 53.8451 49.555C54.5684 48.9483 54.9301 48.1667 54.9301 47.21C54.9301 46.5567 54.7434 46.02 54.3701 45.6C53.9967 45.1567 53.4017 44.7483 52.5851 44.375L50.0301 43.22C48.6767 42.6133 47.6501 41.8317 46.9501 40.875C46.2501 39.895 45.9001 38.6583 45.9001 37.165C45.9001 35.7883 46.1917 34.5517 46.7751 33.455C47.3817 32.335 48.3034 31.46 49.5401 30.83C50.7767 30.1767 52.3517 29.85 54.2651 29.85C55.3384 29.85 56.3767 29.9783 57.3801 30.235C58.3834 30.4917 59.4567 30.8767 60.6001 31.39L59.1301 34.995C58.1267 34.575 57.2634 34.26 56.5401 34.05C55.8167 33.84 55.0584 33.735 54.2651 33.735C51.6284 33.735 50.3101 34.75 50.3101 36.78C50.3101 37.41 50.4851 37.9233 50.8351 38.32C51.1851 38.7167 51.7801 39.1133 52.6201 39.51L55.1751 40.665C56.4817 41.2483 57.4967 42.03 58.2201 43.01C58.9667 43.99 59.3401 45.2733 59.3401 46.86C59.3401 48.19 59.0367 49.4267 58.4301 50.57C57.8467 51.7133 56.8901 52.635 55.5601 53.335C54.2534 54.0117 52.5267 54.35 50.3801 54.35C49.1667 54.35 47.9767 54.2217 46.8101 53.965C45.6434 53.685 44.3951 53.2183 43.0651 52.565L44.5351 48.96C45.7484 49.52 46.7867 49.9167 47.6501 50.15C48.5134 50.36 49.4234 50.465 50.3801 50.465Z"
                fill="white" />
        </svg>
    </a>
</header>