<section class="info">
    <div class="info__sectionName">info</div>
    <h1 class="info__title"> What can our app do?</h1>
    <div class="info__text">We can save your link. We will do it safely and quickly.
        You can just sign in and your links on the page.
        every your password encrypted.
        if you have not registered you have to do it ! !</div>
    <div class="info__wrapper">
        <button class="info__btn">
            <a href="/signUp">Sign up</a>
        </button>
    </div>
</section>