header.header{
    background-color: #0974C1;
    max-width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 0 0 40px 40px;
    -webkit-border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    padding: 0 3vw;
    -ms-border-radius: 0 0 40px 40px;
    -o-border-radius: 0 0 40px 40px;
}
.header_name{
    height: 8vh;
    font-size: 1.8rem;
    margin-bottom: 1vh;
    font-family: "Inder";
}
.header__list{
    display: flex;
    margin-left: 50vw;
    font-family: "Inder";
    font-size: 20px;
    margin-right: 10vw;
}
.header__item{
    margin-left: 2vw;
}
.header__login{
    margin-left: 10vw;
}
.header__logo{
    height: 65px;
    width: 65px;
}
.header__item>a{
    text-decoration: none;
    color: white;
}